{% extends 'base.html.twig' %}

{% block title %}Entretien de
	{{ bike_maintenance.bike.nickname }}
{% endblock %}

{% block body %}
	<div class="bike-detail">
		<div
			class="bike-detail__wrap">
			{# NAV #}
			<div class="bike-detail__back" aria-label="Retour">
				<img src="{{asset('icons/authentification/arrow_left.svg')}}" width="16" height="16" alt="" aria-hidden="true">
				<a class="auth-card__link font-medium" href="{{ path('app_bike_maintenance_index') }}">Historique des entretiens</a>
			</div>

			{# HEADER #}
			<header class="bike-detail__header">
				<img class="bike-detail__img" src="{{asset('uploads/photos/' ~ bike.photoUrl) }}" alt="Photo de {{ bike_maintenance.bike.nickname }}">

				<div class="bike-detail__info">
					<h1 class="bike-detail__title">{{ bike_maintenance.bike.nickname }}</h1>
					<div class="bike-detail__specs">
						<p class="text-s">{{ bike_maintenance.bike.year }}
							•
							{{ bike_maintenance.bike.displacement }}cc •
							{{ bike_maintenance.bike.color }}</p>
					</div>
					<p class="bike-detail__license text-l font-bold">{{ bike_maintenance.bike.licensePlate }}</p>
				</div>
			</header>
		</div>

		{# //CARD - INFORMATION #}
		<section class="bike-detail__card">
			<h2 class="bike-detail__section-title text-m">Détails de l'entretien :</h2>

			<div class="bike-detail__stats">
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/counter_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Kilométrage</p>
					</div>
					<p class="text-s text-blue">{{ bike_maintenance.mileage }}{{ bike_maintenance.hours }}</p>

				</div>

				{# NEXT MAINTENANCE #}
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/calendar_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Prochain entretien</p>
					</div>
					<p class="text-s text-blue">{{ bike_maintenance.nextServiceDate ? bike_maintenance.nextServiceDate|date('d-m-Y') : 'NC' }}</p>
				</div>

				{# WORKSHOP #}
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Entretien dans</p>
					</div>
					<p class="text-stext-blue">{{ bike_maintenance.nextServiceKm }}{{ bike_maintenance.nextServiceHours }}</p>

				</div>

				{# DOCUMENT #}
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Effectué par
						</p>
					</div>
					<p class="text-stext-blue">{{ bike_maintenance.workshop }}</p>
				</div>

				{# PRODUCT #}
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Produits utilisés
						</p>
					</div>
					<p class="text-stext-blue">{{ bike_maintenance.partsUsed }}</p>
				</div>

				{# FILE  #}
				<div type="onclick" class="bike-detail__stat red-card">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="">
						{% if bike_maintenance.receiptUrl %}
							<a class="text-s text-red font-semibold" href="{{ asset('uploads/documents/' ~ bike_maintenance.receiptUrl) }}" download aria-label="Télécharger la facture de l'entretien {{ bike_maintenance.maintenanceType }}">
								Télécharger la facture
							</a>
						{% endif %}
					</div>
				</div>

				{# NOTES #}
				<div class="bike-detail__stat">
					<div class="bike-detail__label">
						<p class="text-s text-grey">Notes</p>
					</div>
					<p class="text-s text-grey">{{ bike_maintenance.notes }}</p>
				</div>
			</div>
		</section>

		{# ACTIONS #}
		<div class="bike-detail__buttons">
			<a class="btn-outline" href="{{ path('app_bike_maintenance_edit', {'id': bike_maintenance.id}) }}" aria-label="Modifier l'entretien de la moto">Modifier</a>
			{{ include('bike_maintenance/_delete_form.html.twig') }}
		</div>
	{% endblock %}
	{# <table class="table">
							        <tbody>
							            <tr>
							                <th>Date</th>
							                <td>{{ bike_maintenance.date ? bike_maintenance.date|date('Y-m-d') : '' }}</td>
							            </tr>
							            <tr>
							                <th>Mileage</th>
							                <td>{{ bike_maintenance.mileage }}</td>
							            </tr>
							            <tr>
							                <th>Hours</th>
							                <td>{{ bike_maintenance.hours }}</td>
							            </tr>
							            <tr>
							                <th>Maintenance_type</th>
							                <td>{{ bike_maintenance.maintenanceType }}</td>
							            </tr>
							            <tr>
							                <th>Description</th>
							                <td>{{ bike_maintenance.description }}</td>
							            </tr>
							            <tr>
							                <th>Cost</th>
							                <td>{{ bike_maintenance.cost }}</td>
							            </tr>
							            <tr>
							                <th>Workshop</th>
							                <td>{{ bike_maintenance.workshop }}</td>
							            </tr>
							            <tr>
							                <th>Parts_used</th>
							                <td>{{ bike_maintenance.partsUsed }}</td>
							            </tr>
							            <tr>
							                <th>Next_service_date</th>
							                <td>{{ bike_maintenance.nextServiceDate ? bike_maintenance.nextServiceDate|date('Y-m-d') : '' }}</td>
							            </tr>
							            <tr>
							                <th>Next_service_km</th>
							                <td>{{ bike_maintenance.nextServiceKm }}</td>
							            </tr>
							            <tr>
							                <th>Next_service_hours</th>
							                <td>{{ bike_maintenance.nextServiceHours }}</td>
							            </tr>
							            <tr>
							                <th>Receipt_url</th>
							                <td>{{ bike_maintenance.receiptUrl }}</td>
							            </tr>
							            <tr>
							                <th>Notes</th>
							                <td>{{ bike_maintenance.notes }}</td>
							            </tr>
							            <tr>
							                <th>Created_at</th>
							                <td>{{ bike_maintenance.createdAt ? bike_maintenance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
							            </tr>
							            <tr>
							                <th>Updated_at</th>
							                <td>{{ bike_maintenance.updatedAt ? bike_maintenance.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
							            </tr>
							        </tbody>
							    </table> #}
