{% extends 'base.html.twig' %}

{% block title %}Modifier mon compte
{% endblock %}

{% block body %}
	<h1>Edit User</h1>
	{{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}

	{{ form_row(form.profile_picture) }}
	{{ form_row(form.last_name) }}
	{{ form_row(form.first_name) }}

	<button type="submit" class="btn-primary">Enregistrer les modifications</button>

	{{ form_end(form) }}
{% endblock %}
