{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body_class %}login-page
{% endblock %}

{% block body %}
	<form method="post">


		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ logout_path() }}">Deconnexion</a>
			</div>
		{% endif %}

		<div class="auth-card">

			<h1>Connexion</h1>


			<div class='input-group'>
				<div class="email">
					<label class="required" for="username">Email</label>

				<div class ="email-wrapper">
					<input type="email" placeholder="you@exemple.com" value="{{ last_username }}" name="_username" id="username" autocomplete="email" required autofocus>
					<img src="{{asset('icons/authentification/email.svg')}}"  class="email-icon" width="16" height="16">

				</div>
				</div>

				<div class='first-password'>
					<label class="required" for="password">Mot de passe</label>

					<div class= "email-wrapper">
					<input placeholder="Votre mot de passe" type="password" name="_password" id="password" autocomplete="current-password" required>
					<img src="{{asset('icons/authentification/lock.svg')}}"  class="email-icon" width="16" height="16">
					</div>
				</div>

				{% if error %}
					<div class="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<button class="btn" type="submit">
					Se connecter
				</button>
			</div>

			<input
			type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

			{#
					      Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
						    See https://symfony.com/doc/current/security/remember_me.html
																												
						     <div class="checkbox mb-3">
					        <input type="checkbox" name="_remember_me" id="_remember_me">
					       <label for="_remember_me">Remember me</label>
							    </div>
							     #}

			<div class="auth-links">
				<a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a>
				<p>Besoin d'un compte ?<a class="register" href="{{path('app_register')}}">Inscrivez-vous</a>
				</p>
				
			</div>


		</div>
	</form>

{% endblock %}
