{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}
{% block body_class %}register-page
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	
	<div class="auth-card">
		<div class="back">
			<img src="{{asset('icons/arrow_left.svg')}}" alt="fleche pour retourner vers la page de connexion de l'application trackday" width="16" height="16">
			<a href="{{path('app_login')}}">Se connecter</a>
		</div>
		<h1>Créer un compte</h1>


		{{ form_errors(registrationForm) }}

		{{ form_start(registrationForm) }}

		<div class="input-group">
			<div class="email">
				{{ form_label(registrationForm.email)}}
				<div class="email-wrapper">
					{{ form_widget(registrationForm.email)}}
					<img src="{{asset('icons/email.svg')}}"  class="email-icon" width="16" height="16">

				</div>
				{{ form_errors(registrationForm.email)}}
			</div>


			<div class="password">
				<div class="first-password">
					{{ form_label(registrationForm.plainPassword.first,'Mot de passe')}}
					<div class="password-wrapper">
						{{ form_widget(registrationForm.plainPassword.first)}}
						<img src="{{asset('icons/eye-hide.svg')}}" data-target="registration_form_plainPassword_first" class="eye-hide" width="16" height="16">
					{# data-target= permet à l'icone de savoir quel input afficher/caher #}
					</div>
				</div>

				<div class="second-password">
					{{ form_label(registrationForm.plainPassword.second,'Confirmer le mot de passe')}}
					<div class="password-wrapper">
						{{ form_widget(registrationForm.plainPassword.second)}}
						<img src="{{asset('icons/eye-hide.svg')}}" data-target="registration_form_plainPassword_second" class="eye-hide" width="16" height="16">

					</div>
					{{ form_errors(registrationForm.plainPassword.first)}}
				</div>
			</div>


			<div class="agree-terms">
				{{ form_widget(registrationForm.agreeTerms) }}
				{{ form_label(registrationForm.agreeTerms) }}
				{{ form_errors(registrationForm.agreeTerms) }}
			</div>

			<button type="submit" class="btn">Créer un compte</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
