{{ form_start(form) }}
<div class="bike-update__wrap">

	<div class="form-field">
		{{ form_label(form.label) }}
		{{ form_widget(form.label) }}
		{{ form_errors(form.label) }}
	</div>

	<div class="form-field">
		{{ form_label(form.code) }}
		{{ form_widget(form.code) }}
		{{ form_errors(form.code) }}
	</div>

	<div class="bike-update__actions">
		<button class="btn-primary" type="submit">{{ button_label|default('Enregistrer') }}</button>
	</div>

</div>
{{ form_end(form) }}
