{% extends 'base.html.twig' %}

{% block title %}{{ document_type.label }}{% endblock %}
{% block meta_description %}Consulter en détail un type de document et ses caractéristiques.{% endblock %}

{% block body %}
    <h1>DocumentType</h1>
    <div
		class="bike-detail">
		{# NAV BACK #}
		<div class="bike-detail__wrap">
			<nav class="bike-detail__back">
				<img src="{{asset('icons/authentification/arrow_left.svg')}}" width="16" height="16" alt="" aria-hidden="true">
				<a class="auth-card__link font-medium" href="{{ path('app_admin_document_type_index') }}">Voir les documents</a>
			</nav>

			{# MOTORBIKE HEADER #}
			<header class="bike-detail__header">
				<div class="bike-detail__info">
					<h1 class="bike-detail__title">{{ document_type.label }}</h1>
					<div class="bike-detail__specs">
						<p class="text-s">Version:
							{{ document_type.code }}
							
					</div>

				</div>
			</header>
		</div>

		


	<div class="bike-detail__buttons">
		<a class="btn-outline" href="{{ path('app_admin_document_type_edit', {'id': document_type.id}) }}" aria-label="Modifier l'entretien">Modifier</a>
		{{ include('admin_document_type/_delete_form.html.twig') }}
	</div>
</div>
    {# <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ document_type.id }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ document_type.code }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ document_type.label }}</td>
            </tr>
        </tbody>
    </table> #}


    
{% endblock %}
