{% extends 'base.html.twig' %}

{% block title %}Mon garage
{% endblock %}

{% block body %}
	<div class="dashboard">
		<div class="dashboard__wrapper">
			<div class="dashboard__title">
				<img class="dashboard__icon" src="{{asset('icons/garage/biker_on_bike_red_dashboard_garage.svg')}}" alt="" aria-hidden="true">
				<h1>Mon garage</h1>
			</div>
			<p class="text-xs">Gérez vos motos</p>
		</div>
		<div class="add-action">
			<a href="{{path('app_bike_new')}}" class="add-btn">
				<img class="add-btn__img" src="{{asset('icons/garage/add_white.svg')}}" alt="" aria-hidden="true">
				<p class="add-btn__text">Ajouter une moto</p>
			</a>
		</div>
	</div>
	{% for bike in bikes %}
		<div class="bike-list">
			<div class="bike-card">
				<div class="bike-card__header">
					<img class="bike-card__img" src="https://images.unsplash.com/photo-1588756681780-9d5859fc2ca0?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="">
					<div class="bike-card__alert">
						<img src="{{asset('icons/garage/maintenance_white.svg')}}" alt="">
						<p class="text-xs">Entretien</p>
					</div>
					<div class="bike-card__container">
						<h3 class="bike-card__name text-l">{{ bike.nickname }}</h3>
						<div class="bike-card__brand">
							<p class="text-s">{{ bike.brand }}</p>
							<p class="text-s">{{ bike.model }}</p>
						</div>
						<div class="bike-card__specs">
							<p class="text-xs">{{ bike.year }}</p>
							<p class="text-xs">{{ bike.displacement }}</p>
						</div>
					</div>

				</div>
				<div class="bike-card__details">
					<div class="bike-card__stat">
						<div class="bike-card__miles">
							<img class="bike-card__icon" src="{{asset('icons/garage/counter_grey.svg')}}" alt="">
							<p>Kilométrage</p>
						</div>
						<p>{{ bike.mileage }}{{ bike.hours }}</p>

					</div>
					<div class="bike-card__stat">
						<div class="bike-card__maintenance">
							<img class="bike-card__icon" src="{{asset('icons/garage/calendar_grey.svg')}}" alt="">
							<p>Dernier entretien</p>
						</div>
						<p>{{ bike.lastServiceDate ? bike.lastServiceDate|date('Y-m-d') : '' }}</p>
					</div>
					<div class="bike-card__stat">
						<div class="bike-card__nextmaintenance">
							<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="">
							<p>Prochain entretien</p>
						</div>

						<p>{{ bike.nextServiceKm }}</p>
						<p>{{ bike.nextServiceHours }}</p>
					</div>
					<div class="bike-card__actions">
						<a href="{{ path('app_bike_show', {'id': bike.id}) }}">show</a>
						<a href="{{ path('app_bike_edit', {'id': bike.id}) }}">edit</a>
						<a href="{{ path('app_bike_delete', {'id': bike.id}) }}">delete</a>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
	{# <table class="table">
											<thead>
												<tr>
													<th>Id</th>
													<th>Nickname</th>
													<th>Brand</th>
													<th>Model</th>
													<th>Year</th>
													<th>Displacement</th>
													<th>Color</th>
													<th>License_plate</th>
													<th>Purchase_date</th>
													<th>Mileage</th>
													<th>Hours</th>
													<th>Usage_unit</th>
													<th>Last_service_date</th>
													<th>Next_service_km</th>
													<th>Next_service_hours</th>
													<th>Photo_url</th>
													<th>Notes</th>
													<th>Is_active</th>
													<th>Created_at</th>
													<th>Updated_at</th>
													<th>actions</th>
												</tr>
											</thead>
											<tbody>
												{% for bike in bikes %}
													<tr>
														<td>{{ bike.id }}</td>
														<td>{{ bike.nickname }}</td>
														<td>{{ bike.brand }}</td>
														<td>{{ bike.model }}</td>
														<td>{{ bike.year }}</td>
														<td>{{ bike.displacement }}</td>
														<td>{{ bike.color }}</td>
														<td>{{ bike.licensePlate }}</td>
														<td>{{ bike.purchaseDate ? bike.purchaseDate|date('Y-m-d') : '' }}</td>
														<td>{{ bike.mileage }}</td>
														<td>{{ bike.hours }}</td>
														<td>{{ bike.usageUnit }}</td>
														<td>{{ bike.lastServiceDate ? bike.lastServiceDate|date('Y-m-d') : '' }}</td>
														<td>{{ bike.nextServiceKm }}</td>
														<td>{{ bike.nextServiceHours }}</td>
														<td>{{ bike.photoUrl }}</td>
														<td>{{ bike.notes }}</td>
														<td>{{ bike.isActive ? 'Yes' : 'No' }}</td>
														<td>{{ bike.createdAt ? bike.createdAt|date('Y-m-d H:i:s') : '' }}</td>
														<td>{{ bike.updatedAt ? bike.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
														<td>
															<a href="{{ path('app_bike_show', {'id': bike.id}) }}">show</a>
															<a href="{{ path('app_bike_edit', {'id': bike.id}) }}">edit</a>
														</td>
													</tr>
												{% else %}
													<tr>
														<td colspan="21">Votre garage est vide</td>
													</tr>
												{% endfor %}
											</tbody>
										</table> #}


{% endblock %}
