{% extends 'base.html.twig' %}

{% block title %}
	{{ bike.nickname }}
{% endblock %}

{% block body %}
	<div class="bike-detail">
		<div
			class="bike-detail__wrap">
			{# NAV BACK #}
			<nav class="bike-detail__back">
				<img src="{{asset('icons/authentification/arrow_left.svg')}}" width="16" height="16" alt="" aria-hidden="true">
				<a class="auth-card__link font-medium" href="{{ path('app_bike_index') }}">Retourner au garage</a>
			</nav>

			{# MOTORBIKE HEADER #}
			<header class="bike-detail__header">
				<img class="bike-detail__img" src="{{asset('uploads/photos/' ~ bike.photoUrl) }}" alt="Photo de {{bike.nickname}}">

				<div class="bike-detail__info">
					<h1 class="bike-detail__title">{{ bike.nickname }}</h1>
					<div class="bike-detail__specs">
						<p class="text-s">{{ bike.year }}
							•
							{{ bike.displacement }}
							cc •
							{{ bike.color }}</p>
					</div>
					<p class="bike-detail__license text-l font-bold" aria-label="Plaque d'immatriculation">{{ bike.licensePlate }}</p>
				</div>
				<div class="bike-detail__buttons">
					<a class="btn-primary" href="{{ path('app_bike_edit', {'id': bike.id}) }}" aria-label="Modifier les informations de la moto">Modifier</a>
					{{ include('bike/_delete_form.html.twig') }}
				</div>
			</header>
		</div>

		{# //CARD - INFORMATION #}

		<section class="bike-detail__card">
			<h2 class="bike-detail__section-title text-m">Informations</h2>

			<div class="bike-detail__stats">
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/counter_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Kilométrage</p>
					</div>
					<p class="text-s text-blue">{{ bike.mileage }}{{ bike.hours }}</p>
				</div>

				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/calendar_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Dernier entretien</p>
					</div>
					<p class="text-s text-blue">{{ bike.lastServiceDate ? bike.lastServiceDate|date('Y-m-d') : '' }}</p>
				</div>
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Prochain entretien</p>
					</div>
					<p class="text-s text-blue">{{ bike.nextServiceKm }}{{ bike.nextServiceHours }}</p>

				</div>
				<div class="bike-detail__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/maintenance_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Date d'achat</p>
					</div>
					<p class="text-s text-blue">{{ bike.purchaseDate ? bike.purchaseDate|date('Y-m-d') : '' }}</p>

				</div>
				<div class="bike-detail__stat">
					<div class="bike-detail__label">
						<p class="text-s text-grey">Notes</p>
					</div>
					<p class="text-s text-grey">{{ bike.notes }}</p>
				</div>
			</div>
		</section>

		{# //CARD - Historique d'entretien #}
		<section class="bike-detail__card">
			<div class="bike-detail__section-header">
				<h2 class=" text-m">Historique d'entretien</h2>
				<button class="bike-detail__section-action btn-primary" onclick="window.print()" aria-label="Imprimer l'historique">
					<img src="{{asset('icons/garage/print_white.svg')}}" alt="" aria-hidden="true">
					<span class="text-s text-white">Imprimer</span>
				</button>
			</div>

			<div
				class="bike-detail__stats">
				{# boucler pour la maintenance ICI #}
				<div class="bike-card__stat">
					<div class="bike-card__label">
						<img class="bike-card__icon" src="{{asset('icons/garage/counter_grey.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">Vidange</p>
					</div>
					<p class="text-s text-blue">{{ bike.mileage }}{{ bike.hours }}</p>
				</div>
			</div>
		</section>

		{# //CARD - Documents #}
		<div class="bike-detail__card">
			<div class="bike-detail__section-header">
				<h2 class="text-m">Documents</h2>
				<a class="btn-primary" href="{{ path('app_bike_document_new', {'bikeId': bike.id}) }}" aria-label="Ajouter un nouveau document">
					<img src="{{asset('icons/garage/add_white.svg')}}" alt="" aria-hidden="true">
					<span>Ajouter</span>
				</a>
			</div>
		</div>

		<div class="bike-detail__documents">
			{% for document in bike.bikeDocuments %}
				<div class="bike-detail__document">
					<div class="bike-detail__document-type">
						<img class="bike-detail__icon" src="{{asset('icons/garage/file_white.svg')}}" alt="" aria-hidden="true">
						<p class="text-s text-grey">{{ document.documentType }}</p>
					</div>
					<p class="bike-detail__number text-s">1</p>
				</div>
				<div class="bike-detail__container">
					<div class="bike-detail__document">
						<p class="text-s text-blue">{{ document.documentName }}</p>
						{{ include('bike_document/_delete_form.html.twig', {'bike_document': document}) }}

					</div>
					<div class="bike-detail__document-infos">
						<img class="bike-card__icon" src="{{ asset('icons/garage/calendar_grey.svg') }}" alt="" aria-hidden="true">
						<p class="text-s text-blue">{{ document.uploadDate ? document.uploadDate|date('d/m/Y') : '' }}</p>
					</div>
					<div class="bike-detail__document-infos">
						<img class="bike-card__icon" src="{{ asset('icons/garage/euros_grey.svg') }}" alt="" aria-hidden="true">
						<p class="text-s text-blue">{{ document.amount ? document.amount ~ ' €' : '' }}</p>
					</div>
					{% if document.fileUrl %}
						<a class="btn-secondary" href="{{ asset('uploads/documents/' ~ document.fileUrl) }}" download aria-label="Télécharger {{ document.documentName }}">Télécharger</a>
						<a class="btn-outline" href="{{ path('app_bike_document_edit', {'id': document.id}) }}">Modifier</a>
					{% endif %}
				</div>
			{% else %}
				<p>Aucun document enregistré</p>
			{% endfor %}

		</div>
	{% endblock %}


	{# <table class="table">
																					    <tbody>
																							 <tr>
																																													                <th>Nickname</th>
																																													                <td>{{ bike.nickname }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Brand</th>
																																													                <td>{{ bike.brand }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Model</th>
																																													                <td>{{ bike.model }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Year</th>
																																													                <td>{{ bike.year }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Displacement</th>
																																													                <td>{{ bike.displacement }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Color</th>
																																													                <td>{{ bike.color }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>License_plate</th>
																																													                <td>{{ bike.licensePlate }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Purchase_date</th>
																																													                <td>{{ bike.purchaseDate ? bike.purchaseDate|date('Y-m-d') : '' }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Mileage</th>
																																													                <td>{{ bike.mileage }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Hours</th>
																																													                <td>{{ bike.hours }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Usage_unit</th>
																																													                <td>{{ bike.usageUnit }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Last_service_date</th>
																																													                <td>{{ bike.lastServiceDate ? bike.lastServiceDate|date('Y-m-d') : '' }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Next_service_km</th>
																																													                <td>{{ bike.nextServiceKm }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Next_service_hours</th>
																																													                <td>{{ bike.nextServiceHours }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Photo_url</th>
																																													                <td>{{ bike.photoUrl }}</td>
																																													            </tr>
																																													            <tr>
																																													                <th>Notes</th>
																																													                <td>{{ bike.notes }}</td>
																																													            </tr>
																																													        </tbody>
																																													    </table> #}
