{% extends 'base.html.twig' %}

{% block title %}Bonjour
	{{app.user.lastname}}!
{% endblock %}

{% block body %}
	<div
		class="dashboard">
		{# HEADER #}
		<header class="dashboard__wrapper">
			<div class="dashboard__title">
				<img class="dashboard__icon" src="{{asset('icons/dashboard/flag_red.svg')}}" alt="" aria-hidden="true">
				<h1>Tableau de bord</h1>
			</div>
			<p class="text-m ">Suivez vos performances</p>

		</header>

		{# NOTIFICATIONS #}
		{% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show">
				{{ message }}!
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Fermer l'alerte"></button>
			</div>
		{% endfor %}

		{# GRILLE DE STATISTIQUE #}
		<section class="stats__grid" aria-label="Statistiques globales">
			<div class="stats__wrap">
				<div class="stats__card">
					<h3 class="stats__title">Trackday</h3>
					<img class="stats__icon flag" src="{{asset('icons/dashboard/lap_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Journée</p>
				</div>

				<div class="stats__card">
					<h3 class="stats__title">Tours</h3>
					<img class="stats__icon flag" src="{{asset('icons/dashboard/lap_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Total</p>
				</div>

				<div class="stats__card">
					<h3 class="stats__title">Record</h3>
					<img class="stats__icon trophy" src="{{asset('icons/dashboard/trophy_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Meilleur</p>
				</div>

				<div class="stats__card">
					<h3 class="stats__title">A venir</h3>
					<img class="stats__icon time " src="{{asset('icons/dashboard/time_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Sessions</p>
				</div>
			</div>
		</section>

		{# Grid section #}
		<div
			class="section-card__grid">

			{# next trackday #}
			<section class="section-card">
				<header class="section-card__header">
					<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="" aria-hidden="true">
					<h2 class="section-card__title">Prochains Trackdays</h2>
				</header>
				<div class="section-card__empty">
					<img class="section-card__empty-icon" src="{{asset('icons/dashboard/calendar_grey.svg')}}" alt="" aria-hidden="true">
					<p class="section-card__empty-text">Aucun trackday prévu</p>
				</div>
			</section>

			{# card garage #}
			<section class="section-card">
				<header class="section-card__header">
					<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar" aria-hidden="true">
					<h2 class="section-card__title">Mon Garage</h2>
				</header>
				<div class="section-card__empty">
					{% if bikes is not empty %}
						{% for bike in bikes %}
							<article class="section-card__wrap">
								{% if bike.photoUrl %}
									<img class="section-card__image" src="{{asset ('uploads/photos/'~ bike.photoUrl )}}" alt="Photo de la {{ bike.brand }} {{ bike.model }}">
								{% endif %}
								<div class="section-card__infos">
									<p class="text-s font-bold">{{ bike.brand }}
										{{ bike.model }}</p>
									<p class="text-xs text-grey">{{ bike.mileage }}
										km •
										{{ bike.year }}</p>
								</div>
							</article>
						{% endfor %}
					{% else %}
						<p>Aucune moto enregistrée</p>
					{% endif %}
				</div>
			</section>
		</div>

		{# card rappel #}
		<div class="section-card">
			<div class="section-card__header">
				<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
				<p class="section-card__title">Rappels</p>
			</div>
			<div class="section-card__empty">
				<p class="section-card__empty-text">Aucun rappel de prévu</p>
			</div>
		</div>
		<div class="section-card">
			<div class="section-card__header">
				<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
				<p class="section-card__title">Frais ce mois-ci</p>
			</div>
			<div class="section-card__empty">
				<p class="section-card__empty-text">Aucun trackday prévu</p>
			</div>
		</div>
		<div class="section-card">
			<div class="section-card__header">
				<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
				<p class="section-card__title">Performances récentes</p>
			</div>
			<div class="section-card__empty">
				<p class="section-card__empty-text">Aucun trackday prévu</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
