{% extends 'base.html.twig' %}

{% block title %}Bonjour
	{{app.user.lastname}}!
{% endblock %}

{% block body %}


	<div class="dashboard">
		<div class="dashboard__wrapper">
			<div class="dashboard__title">
				<img class="dashboard__icon" src="{{asset('icons/dashboard/flag_red.svg')}}" alt="" aria-hidden="true">
				<h1>Tableau de bord</h1>
			</div>
			<p class="text-m ">Suivez vos performances</p>

		</div>
		{% for message in app.flashes('success') %}
			<div class="alert alert-success alert-dismissible fade show">
				{{ message }}!
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" 
				</button> </div> {% endfor %} <div class="stats__grid"> <div class="stats__wrap"> <div class="stats__card" class="stats__title"> trackdays <img class="stats__icon" src="{{asset('icons/dashboard/calendar_white.svg')}}" alt="" ari a-hidden="true"> <p class="stats__number">0
					<p class="stats__p">Journées</p>
				</div>

				<div class="stats__card">
					<p class="stats__title">Tours</p>
					<img class="stats__icon flag" src="{{asset('icons/dashboard/lap_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Total</p>
				</div>

				<div class="stats__card">
					<p class="stats__title">Record</p>
					<img class="stats__icon trophy" src="{{asset('icons/dashboard/trophy_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Meilleur</p>
				</div>

				<div class="stats__card">
					<p class="stats__title">A venir</p>
					<img class="stats__icon time " src="{{asset('icons/dashboard/time_white.svg')}}" alt="" aria-hidden="true">
					<p class="stats__number">0</p>
					<p class="stats__p">Sessions</p>
				</div>
			</div>
		</div>

		<div class="section-card__grid">
			<div class="section-card">
				<div class="section-card__header">
					<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="" aria-hidden="true">
					<p class="section-card__title">Prochains Trackdays</p>
				</div>
				<div class="section-card__empty">
					<img class="section-card__empty-icon" src="{{asset('icons/dashboard/calendar_grey.svg')}}" alt="" aria-hidden="true">
					<p class="section-card__empty-text">Aucun trackday prévu</p>
				</div>
			</div>
			{# card mon garage #}
			<div class="section-card">
				<div class="section-card__header">
					<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
					<p class="section-card__title">Mon Garage</p>
				</div>
				<div class="section-card__empty">
					{% if bikes is not empty %}
						{% for bike in bikes %}
							<div class="section-card__wrap">
								{% if bike.photoUrl %}
									<img class="section-card__image" src="{{asset ('uploads/photos/'~ bike.photoUrl )}}" alt="Photo de la moto">
								{% endif %}
								<div class="section-card__infos">
									<p class="text-s">{{ bike.brand }}
										{{ bike.model }}</p>
									<p class="text-xs text-grey">{{ bike.mileage }}
										km</p>
									<p class="text-xs text-grey">{{ bike.year }}</p>
								</div>
							</div>
						{% endfor %}
					{% else %}
						<p>Aucune moto enregistrée</p>
					{% endif %}
				</div>
			</div>
		</div>

		{# card rappel #}
		<div class="section-card">
			<div class="section-card__header">
				<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
				<p class="section-card__title">Rappels</p>
			</div>
			<div class="section-card__empty">
				<p class="section-card__empty-text">Aucun rappel de prévu</p>
			</div>
		</div>
		<div class="section-card">
			<div class="section-card__header">
				<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
				<p class="section-card__title">Frais ce mois-ci</p>
			</div>
			<div class="section-card__empty">
				<p class="section-card__empty-text">Aucun trackday prévu</p>
			</div>
		</div>
		<div class="section-card">
			<div class="section-card__header">
				<img src="{{asset('icons/dashboard/calendar_red.svg')}}" alt="calendar">
				<p class="section-card__title">Performances récentes</p>
			</div>
			<div class="section-card__empty">
				<p class="section-card__empty-text">Aucun trackday prévu</p>
			</div>
		</div>
	</div>
</div>{% endblock %}
